ProjectServer/ProjectServer/Service References/ServiceApp/ServiceApp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceApp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56481/ServiceApp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56481/ServiceApp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56481/ServiceApp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFApp.DTO" />
      <xsd:import schemaLocation="http://localhost:56481/ServiceApp.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceApp_checkLoginTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:checkLoginTeacher" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_checkLoginTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkLoginTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_sendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_getStudent_Parent_ByTeacherId_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudent_Parent_ByTeacherId" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_getStudent_Parent_ByTeacherId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudent_Parent_ByTeacherIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_getHistoryByTeacherId_InputMessage">
    <wsdl:part name="parameters" element="tns:getHistoryByTeacherId" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_getHistoryByTeacherId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHistoryByTeacherIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_getAllTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTeacher" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_getAllTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_getAllClass_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllClass" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_getAllClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllClassResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_updateClassAndTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:updateClassAndTeacher" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_updateClassAndTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateClassAndTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test1_InputMessage">
    <wsdl:part name="parameters" element="tns:test1" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test1_OutputMessage">
    <wsdl:part name="parameters" element="tns:test1Response" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test2_InputMessage">
    <wsdl:part name="parameters" element="tns:test2" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test2_OutputMessage">
    <wsdl:part name="parameters" element="tns:test2Response" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test3_InputMessage">
    <wsdl:part name="parameters" element="tns:test3" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test3_OutputMessage">
    <wsdl:part name="parameters" element="tns:test3Response" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test4_InputMessage">
    <wsdl:part name="parameters" element="tns:test4" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test4_OutputMessage">
    <wsdl:part name="parameters" element="tns:test4Response" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test5_InputMessage">
    <wsdl:part name="parameters" element="tns:test5" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test5_OutputMessage">
    <wsdl:part name="parameters" element="tns:test5Response" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test6_InputMessage">
    <wsdl:part name="parameters" element="tns:test6" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test6_OutputMessage">
    <wsdl:part name="parameters" element="tns:test6Response" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test7_InputMessage">
    <wsdl:part name="parameters" element="tns:test7" />
  </wsdl:message>
  <wsdl:message name="IServiceApp_test7_OutputMessage">
    <wsdl:part name="parameters" element="tns:test7Response" />
  </wsdl:message>
  <wsdl:portType name="IServiceApp">
    <wsdl:operation name="checkLoginTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/checkLoginTeacher" message="tns:IServiceApp_checkLoginTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/checkLoginTeacherResponse" message="tns:IServiceApp_checkLoginTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/sendMessage" message="tns:IServiceApp_sendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/sendMessageResponse" message="tns:IServiceApp_sendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStudent_Parent_ByTeacherId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/getStudent_Parent_ByTeacherId" message="tns:IServiceApp_getStudent_Parent_ByTeacherId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/getStudent_Parent_ByTeacherIdResponse" message="tns:IServiceApp_getStudent_Parent_ByTeacherId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHistoryByTeacherId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/getHistoryByTeacherId" message="tns:IServiceApp_getHistoryByTeacherId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/getHistoryByTeacherIdResponse" message="tns:IServiceApp_getHistoryByTeacherId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/getAllTeacher" message="tns:IServiceApp_getAllTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/getAllTeacherResponse" message="tns:IServiceApp_getAllTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/getAllClass" message="tns:IServiceApp_getAllClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/getAllClassResponse" message="tns:IServiceApp_getAllClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateClassAndTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/updateClassAndTeacher" message="tns:IServiceApp_updateClassAndTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/updateClassAndTeacherResponse" message="tns:IServiceApp_updateClassAndTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test1">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/test1" message="tns:IServiceApp_test1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/test1Response" message="tns:IServiceApp_test1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test2">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/test2" message="tns:IServiceApp_test2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/test2Response" message="tns:IServiceApp_test2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test3">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/test3" message="tns:IServiceApp_test3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/test3Response" message="tns:IServiceApp_test3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test4">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/test4" message="tns:IServiceApp_test4_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/test4Response" message="tns:IServiceApp_test4_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test5">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/test5" message="tns:IServiceApp_test5_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/test5Response" message="tns:IServiceApp_test5_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test6">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/test6" message="tns:IServiceApp_test6_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/test6Response" message="tns:IServiceApp_test6_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test7">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceApp/test7" message="tns:IServiceApp_test7_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceApp/test7Response" message="tns:IServiceApp_test7_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceApp" type="tns:IServiceApp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkLoginTeacher">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/checkLoginTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/sendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudent_Parent_ByTeacherId">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/getStudent_Parent_ByTeacherId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryByTeacherId">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/getHistoryByTeacherId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTeacher">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/getAllTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllClass">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/getAllClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateClassAndTeacher">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/updateClassAndTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test1">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/test1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test2">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/test2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test3">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/test3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test4">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/test4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test5">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/test5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test6">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/test6" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test7">
      <soap:operation soapAction="http://tempuri.org/IServiceApp/test7" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceApp">
    <wsdl:port name="BasicHttpBinding_IServiceApp" binding="tns:BasicHttpBinding_IServiceApp">
      <soap:address location="http://localhost:56481/ServiceApp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>