ProjectServer/ProjectServer/Service References/ServiceApp/ServiceApp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFApp.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFApp.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Teacher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teacher" nillable="true" type="tns:Teacher" />
  <xs:complexType name="ArrayOfTeacher_Student_Mapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Teacher_Student_Mapping" nillable="true" type="tns:Teacher_Student_Mapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacher_Student_Mapping" nillable="true" type="tns:ArrayOfTeacher_Student_Mapping" />
  <xs:complexType name="Teacher_Student_Mapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
      <xs:element minOccurs="0" name="parent" nillable="true" type="tns:Parent" />
      <xs:element minOccurs="0" name="student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teacher_Student_Mapping" nillable="true" type="tns:Teacher_Student_Mapping" />
  <xs:complexType name="Parent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parent" nillable="true" type="tns:Parent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="History" nillable="true" type="tns:History" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistory" nillable="true" type="tns:ArrayOfHistory" />
  <xs:complexType name="History">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" type="xs:int" />
      <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
      <xs:element minOccurs="0" name="messageContent" nillable="true" type="tns:MessageContent" />
      <xs:element minOccurs="0" name="parent" nillable="true" type="tns:Parent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="History" nillable="true" type="tns:History" />
  <xs:complexType name="MessageContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StatusPriority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeNeed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeSend" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TypeMessageId" type="xs:int" />
      <xs:element minOccurs="0" name="typeM" nillable="true" type="tns:TypeMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageContent" nillable="true" type="tns:MessageContent" />
  <xs:complexType name="TypeMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescriptionTypeMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeMessage" nillable="true" type="tns:TypeMessage" />
  <xs:complexType name="ArrayOfTeacher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Teacher" nillable="true" type="tns:Teacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacher" nillable="true" type="tns:ArrayOfTeacher" />
  <xs:complexType name="ArrayOfClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class" nillable="true" type="tns:Class" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass" nillable="true" type="tns:ArrayOfClass" />
  <xs:complexType name="Class">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusClass" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class" nillable="true" type="tns:Class" />
</xs:schema>